{{#each dados}}
    <input type="hidden" name="{{@key}}" value="{{this}}">
{{/each}}
<table class="table table-dark" >
    <tr>
        <th>Nome</th>
    {{#each nomes}}
        <th>{{this}}</th>
    {{/each}}
    </tr>
    <tr>
        <td>Categoria</td>
    {{#each categorias}}
        <td>{{this}}</td>
    {{/each}}
    </tr>
    <tr>
        <td>Região</td><!--Parte do corpo recrutada-->
    {{#each regioes}}
        <td>{{this}}</td>
    {{/each}}
    </tr>
    <tr>
        <td>Equipamento</td>
    {{#each equipamentos}}
        <td>{{this}}</td>
    {{/each}}
    </tr>
</table>
