
<head>
  <style>

  </style>
</head>
<table class="table table-dark">
  <tr>
    {{#each nomesMusculos}}
    <th>
      {{this}}
    </th>
    {{/each}}
  </tr>
  <tr>
    {{#each linha1}}
    <td>
      {{this}}
    </td>
    {{/each}}
  </tr>
  <tr>
    {{#each linha2}}
    <td>
      {{this}}
    </td>
    {{/each}}
  </tr>
  <tr>
    {{#each linha3}}
    <td>
      {{this}}
    </td>
    {{/each}}
  </tr>
  <tr>
    {{#each linha4}}
    <td>
      {{this}}
    </td>
    {{/each}}
  </tr>
</table>

<a href="/treinos/Formulario"><button type="button" class="btn btn-outline-dark">Voltar</button></a>