
<!--<div class="card">
    <div class="card-body">
        {{#each treino}}
    <h3>{{nome}}</h3>
    
    <p>{{exercicios}}</p> <br><hr>
    
    {{/each}}
    </div>
</div>-->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="5"><h2>MUSCULAÇÃO</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {{#each treino_arr_handlebars1}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
    <tr>
      {{#each treino_arr_handlebars2}}
     
      <td>{{this}}</td>
      {{/each}}
    </tr>
    <tr>
      {{#each treino_arr_handlebars3}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
  </tbody>
</table>

<a href="/treinos/Formulario"><button type="button" class="btn btn-outline-dark">Voltar</button></a>