

<h1> Marque as porções lesionadas do musculo escolhido</h1>
<script src=></script>
<div class="card" >
    <div class="card-body" >
        <form action="/treinos/geraTreino" method="post">
        {{#each array_Com_Musculos}}
            <div class="form-control mt-2" >
                <strong>{{this.nome}}</strong> <br>
                <select class="form-control" name="{{this.nome}}" id="{{this.nome}}">
                {{#each this.porcoes}}
                    <option value="{{@key}}">{{@key}}</option>
                    
                {{/each}}
                </select>
                
                <!--<label for="{{@key}}">{{@key}}</label> 
                <input type="checkbox" id="{{@key}}" name="{{@key}}"><br>
                <input type="hidden" value="{{@key}}">-->
                
                

                
            </div>
            
        {{else}}
        {{/each}}
        
        <input type="hidden" id="musculos_analisados" name="musculos_analisados" value={{array_Com_Musculos.porcoes}} > <br>
        <button class="btn btn-success mt-2 " type="submit">Avançar</button>
        </form>
    </div>
</div>
