<h1> Marque as porções lesionadas do musculo escolhido</h1>
<div class="card" >
    <div class="card-body" >
        <form action="/treinos/geraTreino" method="post">
        {{#each array_Com_Musculos}}
            <div class="form-control mt-2" >
                <strong>{{this.nome}}</strong> <br>
                {{#each this.porcoes}}
                
                <label for="{{@key}}">{{@key}}</label> 
                <input type="checkbox" id="{{@key}}" name="{{@key}}"><br>
                {{/each}}
                
            </div>
            
        {{else}}
        {{/each}}
        <input type="hidden" id="musculos_analisados" name="musculos_analisados" value={{array_Com_Musculos.porcoes}} >
        <button class="btn btn-success mt-2 " type="submit">Registrar</button>
        </form>
    </div>
</div>
