<head>
    <style>
        .ContainerLesaoMain{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content:flex-end;
            width: 100%px;
            height: 400px;
            box-shadow: 3px 3px 5px #cbc6aa ;
            background-image: url('/img/lesao.jpg');
            background-position:-150px -450px ;
            border-radius: 10px;
        }
        .containerLesao{
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            border-radius: 10px;
            background-color:#c3ae93a6;
            height: fit-content;
            
            

        }
        .ConteinerLesaoBotao{
            margin-top: 10px;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .ContainerLesaoNome{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .ContainerLesaoPorcoes{
            display: flex;
        }
        


    </style>
</head>

<h1> Marque as porções lesionadas do musculo escolhido</h1>
<div class="ContainerLesaoMain">
    
    <div class="containerLesao" >
        <form action="/treinos/geraTreino" method="post">
        {{#each userData}} <input type="hidden" name="user{{@key}}" value="{{this}}" > {{/each}}
        {{#each musculo}}
        <div class="ContainerLesaoNome">
            <strong>{{this.nome}}</strong>
            <div class="ContainerLesaoPorcoes">
                {{#each this.porcoes}}
                {{@key}}&nbsp; <input type="checkbox" name="{{@key}}" class="form-check-input">
                {{/each}}   
                &nbsp;
            </div>
                    
        </div>
        {{/each}}     
        <div class="ConteinerLesaoBotao" >
            <button type="submit" class="btn btn-primary">Registrar lesões</button>
        </div>
            
        </form>
    </div>
</div>

