<h1>Lista de musculos</h1>


{{#each musculos}}
    <div class='body mt-4' >
        <div class="card-body" >
            <h5>{{nome}}</h5>
            <small>{{regiao}}</small><br>
            {{#each porcoes}}
            <small><strong>{{nome}} {{@key}}</strong></small> <br>
            {{/each}}
        </div>
    </div>
{{else}}

{{/each}}