<head>
    <style>
        .containerGeral2{
            display: flex;
        }
        .containerUM{
            display: flex;
            box-shadow: 5px 5px 10px #b8b8b8;
            padding: 5px;
            width: 100%;
            border-radius: 10px;
            height: fit-content;
            flex-direction: column;
            background-color: #d6d6d6;
        }
        .containerFormLongo{
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            width: 100%;
            height: fit-content;
            flex-direction: column;            
            padding: 10px;
        }
        .containerFormLongoTitle{
            width: 100%;
            display: flex;
            justify-content: center;            
        }
        .containerFormLongoCorpo{
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-around;
        }
        .containerFormLongoRow{
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            width: 100%;
            height: fit-content;
            padding: 10px;
            height: fit-content;
        }
        .containerFormLongoSecond{
            flex: 1;
            display: flex;
            flex-direction: column;
            height: fit-content;
        }
        .containerFormLongoCorpoItem{
            display: flex;
            flex-direction: column;
            margin: 10px;
            padding: 5px;
        }
        .borderLeft{
            border-left: 2px solid rgb(97, 97, 97);
        }
        .borderBottom{
            border-bottom: 2px solid rgb(97, 97, 97);
        }
        .borderTop{
            border-top: 2px solid rgb(97, 97, 97);
        }
    </style>
</head>
{{#if error}}
    <p class="alert alert-danger" >Um ou mais campos não foram prenchidos :(</p>
{{/if}}

<div class="conatinerGeral" >
    <form action="/aluno/verificaCad" method="POST">
        <div class="containerUM" >
            <div class="containerFormLongo borderBottom">
                <div class="containerFormLongoTitle"><h3>Dados gerais</h3></div>
                <div class="containerFormLongoCorpo">
                    <div class="containerFormLongoItem">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" name="nome" value="{{dados.nome}}">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" value="{{dados.email}}">
                    <label for="sexo">Sexo</label>
                    <select class="form-control" type="text" name="sexo">
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
                    <div class="containerFormLongoItem">
                        <input type="hidden" name="nascimentoHidden" value="{{dados.nascimentoISO}}">
                        <label for="peso">Peso</label>
                        <input class="form-control" type="text" name="peso" value="{{dados.peso}}" >
                        <label for="nascimento">Nascimento</label>
                        <input class="form-control" type="text" name="nascimento" value="{{dados.nascimento}}">
                        <label for="altura">Altura</label>
                        <input class="form-control" type="text" name="altura" value="{{dados.altura}}">
                    </div>
                </div>
            </div>
            <div class="containerFormLongoRow">
                <div class="containerFormLongoSecond">
                    <div class="containerFormLongoTitle">
                        <h3>Diâmetros do punho e fêmur (CM)</h3>
                    </div>
                    <div class="containerFormLongoCorpoItem">
                        <label for="dbru">Diâmetro bisetilóide radio ulnar</label>
                        <input type="number" class="form-control" name="dbru" value="{{dados.DBRU}}">
                        <label for="dbdf">Diâmetro biepicondiliano do fêmur</label>
                        <input type="number" class="form-control" name="dbdf"value="{{dados.DBDF}}">
                    </div>
                </div>
                <div class="containerFormLongoSecond borderLeft" >
                    <div class="containerFormLongoTitle">
                        <h3>Circunferências (CM)</h3>
                    </div>
                    <div class="containerFormLongoCorpoItem">
                        <label for="circunPunho">Punho</label>
                        <input type="number" class="form-control" name="circunPunho" value="{{dados.circunPunho}}">
                        <label for="circunQuadril">Quadril</label>
                        <input type="number" class="form-control" name="circunQuadril"value="{{dados.circunQuadril}}" >
                        <label for="circunCintura">Cintura</label>
                        <input type="number" class="form-control" name="circunCintura" value="{{dados.circunCintura}}">
                    </div>
                </div>

            </div>
            <div class="containerFormLongo borderTop">
                <div class="containerFormLongoTitle">
                    <h3>7 DOBRAS (Cm.mm)</h3>
                </div>
                <div class="containerFormLongoCorpo">
                    <div class="containerFormLongoItem">
                        <label for="tricipital">Tricipital</label>
                        <input type="number" class="form-control" name="tricipital" value="{{dados.triciptal}}">
                        <label for="subescapular">Subescapular</label>
                        <input type="number" class="form-control" name="subescapular" value="{{dados.subscapular}}">
                        <label for="peitoral">Peitoral</label>
                        <input type="number" class="form-control" name="peitoral" value="{{dados.peitoral}}">
                    
                    </div>
                    <div class="containerFormLongoItem">
                        <label for="axilar_media">Axilar-média</label>
                        <input type="number" class="form-control" name="axilar_media" value="{{dados.axilar_media}}">
                        <label for="abdominal">Abdominal</label>
                        <input type="number" class="form-control" name="abdominal" value="{{dados.abdominal}}">
                        <label for="suprailiaca">Suprailiaca</label>
                        <input type="number" class="form-control" name="suprailiaca" value="{{dados.suprailiaca}}">
                        <label for="coxa">Coxa</label>
                        <input type="number" class="form-control" name="coxa" value="{{dados.coxa}}">
                    </div>
                </div>
            </div>
            <button class="btn btn-dark mt-4" type="submit" >Salvar</button>
        </div>
        
    </form>
    <form action="/users/paginaInicial" method="post" class="mt-4">
        <input type="hidden" name="email" value="{{dados.email}}">
        <input type="submit" class="btn btn-dark" value="Pagina inicial">
    </form>
</div>      