<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
        }
        .userAlunoDesc{
            height: fit-content;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            box-shadow: 2px 2px 5px #c0c0c0;
            background-image: url('/img/medida.jpg');
            background-position: 20px -150px;
            
        }
        .userAlunoCad{
            border-radius: 10px;
            height: 300px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            box-shadow: 2px 2px 5px #c0c0c0;
        }
        .UserALunoCadBlock{
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;        
        }
        .UserALunoCadBlockDesc{
            display: flex;
            flex: 1;
            flex-direction: column;
            height: fit-content;
        }
        .musculacao{
            background-image: url('/img/MusculacaoBrancoPequeno.jpg');
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            display: flex;
            justify-content: flex-start;align-items:initial;
        }
        .UserAlunoCadBlockItem p{
            font-size: large;
            box-shadow: 4px 4px 6px;
            border-radius: 3px;
            padding: 10px;
            background-color: #c0c0c0;
        }
        .UserALunoCadBlock1{
            
            display: flex;
            align-items: flex-end;
            padding: 10px;
        }
        .UserALunoCadBlock2{
            padding: 10px;
            flex: 5;
            
        }
        .UserALunoCadBlock2{
            flex: 1;
            padding-left:10px;
            
        }
        .cross{
            height: 100%;
            background-image: url('/img/Cross.jpg');
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .crossItem2{
            flex: 1;
            border: 1px solid black;
            display: flex;
        }
        .crossItem1{
            flex:1;
            display: flex;
            align-items: flex-end;
        }
        
    </style>
</head>
<body>
    {{#if dados}}
        <h3 class="alert alert-success">Bem vindo {{dados.userName}}!</h3>
    
    <div class="userAlunoDesc" >
        <div class="UserALunoCadBlockDesc" >
            <h3>Vizualizar dados de aluno</h3> 
            <p>- Peso muscular, osseo, adiposo e residual</p>
            <p>- IMC</p>
            <p>- Densidade corporal</p>
            <p>- Metabolismo basal</p>
            <p>- Gordura visceral</p>
            <p>- Porcentagens de gordura, musculo e ossos no seu corpo</p>
            <p>- Análise de estrutura Ossea</p>
            <form action="/aluno/" method="post">
            {{#each session}}
                <input type="hidden" name="{{@key}}" value="{{this}}">
            {{/each}}
            {{#each dadosCadAluno1}}
                <input type="hidden" name="{{@key}}" value="{{this}}">
            {{/each}}
            {{#each dadosCadAluno2}}
                <input type="hidden" name="{{@key}}" value="{{this}}">
            {{/each}}
            {{#each dadosCadAluno3}}
                <input type="hidden" name="{{@key}}" value="{{this}}">
            {{/each}}
            <button type="submit" class="btn btn-primary">Atualizar dados</button>
            </form>
            <form method="post" action="/aluno/visualizaCad">
                {{#each session}}
                <input type="hidden" name="{{@key}}" value="{{this}}">
                {{/each}}
                <button type="submit" class="btn btn-primary mt-3">Vizualizar dados</button>
            </form>
        </div>
    </div>
    <div class="userAlunoCad mt-4 " >
        <div class="UserALunoCadBlock musculacao" >
            <div class="UserALunoCadBlock1">
                <form action="/treinos" method="post">
                    {{#each session}}
                        <input type="hidden" name="{{@key}}" value="{{this}}">
                    {{/each}}
                    <button type="submit" class="btn btn-primary">Gerar treino de musculação</button></form>
                
            </div>
            <div class="UserALunoCadBlock2">
                
            </div>
        </div>
        <div class="UserALunoCadBlock2 cross" >
            <div class="crossItem1">
                <form action="/treinos" method="POST">
                    {{#each session}}
                        <input type="hidden" name="{{@key}}" value="{{this}}">
                    {{/each}}
                    <button type="submit" class="btn btn-primary">Gerar Cross Training</button></form>
                
            </div>            
        </div>
    </div>
    {{/if}}
</body>
</html>